@import "../css/mixins";
@import "../css/fonts";
@import "../css/variables";
@import "../css/reset";

.container {
  max-width: 1150px;
  margin: 0 auto;

  .header {
    display: flex;
    height: 52px;
    font-family: $main_font;
    justify-content: space-between;
    align-items: center;
    margin-top: 27px;
    color: $main_color;

    &__nav {
      font-size: $font_size_16;

      li {
        display: inline;
        margin-right: 11px;
        margin-left: 11px;

        a {
          color: $main_color;
        }
      }
    }

    &__login {
      font-size: $font_size_18;
      font-weight: $bold_weight;

      &-log {
        margin-right: 9px;
        border: 1px solid $main_color;
        border-radius: 100px;
        padding: 13px 24px;
        color: $main_color;
        transition-duration: 0.3s;

        &:hover {
          background-color: black;
          color: white;
        }
      }
      &-help {
        margin-left: 9px;
        border: 1px solid $main_color;
        border-radius: 100px;
        padding: 12px 24px;
        //  background-color: $main_color;
        color: $main_color;
        transition-duration: 0.3s;

        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
  }

  .hero {
    // height: 485px;
    display: flex;
    margin-top: 63px;

    &__text {
      // flex: 0 1 483px;
      max-width: 483px;
      font-family: $main_font;
      margin-top: 27px;

      &-big {
        font-size: 77px;
        font-weight: $bold_weight;
      }

      &-under {
        font-size: $font_size_20;
        margin-top: 27px;
      }

      &-little_text {
        margin-top: 79px;
        font-size: $font_size_18;
        font-weight: $bold_weight;
      }
    }

    &__img {
      position: relative;

      img {
        // position: absolute;
        // left: 56px;
        display: block;
        max-width: 100%;
        // margin-left: 28px;
        // margin-right: -178px;
      }
    }

    @media screen and (max-width: 600px) {
      flex-flow: column;
    }
  }
}

.line {
  // position: relative;
  // z-index: 1;
  display: inline-block;
  margin-top: 27px;
  // overflow: hidden;
  // padding-left: 145px;

  font-family: $main_font;
  padding: 18px 30px;
  font-size: 22px;
  border: 1px solid black;
  border-radius: 100px;
  background-color: white;
  color: black;
  transition-duration: 0.3s;

  &:hover {
    background-color: black;
    color: white;
  }
  // &__button {
  // }
  // &:before,
  // &:after {
  //   content: "";
  //   display: inline-block;
  //   width: 100%;

  //   height: 1px;
  //   background: rgba(234, 238, 242, 1);
  //   z-index: -1;
  //   position: relative;
  //   vertical-align: middle;
  // }
  // &:before {
  //   right: 15px;
  //   margin: 0 0 0 -100%;
  // }
  // &:after {
  //   left: 15px;
  //   margin: 0 -100% 0 0;
  // }
}

.container {
  .section {
    display: flex;
    // height: 507px;
    // background-color: grey;

    &__img_percent {
      // max-width: 100%;
      margin-top: 138px;
      margin-right: 104px;

      img {
        width: 483px;
        // max-width: 100%;
      }
    }

    &__text {
      font-family: $main_font;
      // width: 563px;

      &-big {
        font-weight: $bold_weight;
        font-size: 57px;
        color: $main_color;
        margin-top: 108px;
      }

      &-little {
        // width: 515px;
        font-size: $font_size_20;
        color: $main_color;
        margin-top: 33px;
      }
    }
    @media screen and (max-width: 600px) {
      flex-flow: column;
      &__img_percent img {
        width: 100%;
        // max-width: 100%;
      }
    }
  }

  .offer {
    font-family: $main_font;

    &__text {
      margin-top: 88px;
      font-size: 58px;
    }
    &__cards {
      display: flex;
      margin-top: 63px;

      &-card {
        width: 308px;
        margin-right: 54px;
        margin-bottom: 54px;

        &-what_about {
          font-weight: $bold_weight;
          font-size: 28px;
          margin-top: 24px;
          margin-bottom: 10px;
        }
      }
      @media screen and (max-width: 600px) {
        flex-flow: column;
      }
    }

    &__button {
      background-color: #fdeced;
      font-size: $font_size_18;
      transition-duration: 0.3s;
      padding: 12px 30px;
      color: $main_color;
      border-radius: 100px;
      font-weight: $bold_weight;

      &:hover {
        background-color: #f7b2b7;
      }
    }
  }
}

.main {
  background-color: #fdeced;
  // height: 705px;
  margin-top: 126px;
}

.pinktext {
  font-size: 58px;
  padding-top: 88px;
}
.pinkCard {
  // margin-top: 82px;
}

.logos {
  display: flex;
  font-family: $main_font;

  &__leftblock {
    font-size: 27px;
    width: 236px;
    margin-top: 129px;
    margin-right: 99px;
  }

  &__rightblock {
    width: 700px;
    max-width: 100%;
    margin-top: 108px;

    img {
      width: 100%;
    }
  }
  @media screen and (max-width: 600px) {
    flex-flow: column;
  }
}

.preview {
  display: flex;
  font-family: $main_font;
  // height: 637px;

  margin-top: 36px;

  &__hub {
    // width: 563px;
    margin-top: 193px;

    &-bold {
      font-weight: $bold_weight;
      font-size: 58px;
    }
    &-subtitle {
      font-size: 20px;
      margin-top: 40px;
    }
  }

  &__files {
    margin-top: 107px;

    img {
      max-width: 100%;
    }
  }
  &__button {
    margin-top: 79px;
    font-size: 18px;
    padding: 12px 30px;
    font-weight: $bold_weight;
    background-color: #fdeced;
    border-radius: 100px;
    display: inline-block;
    color: $main_color;
    transition-duration: 0.3s;

    &:hover {
      background-color: #f7b2b7;
    }
  }
  @media screen and (max-width: 600px) {
    flex-flow: column;
  }
}

.switch {
  display: flex;
  padding: 90px;
  // height: 283px;
  background-color: #8bd4d6;
  border-radius: 10px;
  font-family: $main_font;
  color: $main_color;
  align-items: center;
  justify-content: center;
  margin-top: 108px;
  margin-bottom: 108px;

  &__text {
    // width: 810px;
    &-bold {
      font-weight: $bold_weight;
      font-size: 46px;
    }
    &-subtitle {
      font-size: 20px;
      margin-top: 18px;
    }
  }

  &__button {
    display: inline-block;
    background-color: $main_color;
    color: #fff;
    padding: 12px 30px;
    border-radius: 100px;
    transition-duration: 0.3s;

    &:hover {
      background-color: #fff;
      color: $main_color;
    }
  }
  @media screen and (max-width: 600px) {
    flex-flow: column;
  }
}
