@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}
.container .header {
  display: flex;
  height: 52px;
  font-family: "Roboto";
  justify-content: space-between;
  align-items: center;
  margin-top: 27px;
  color: #000000;
}
.container .header__nav {
  font-size: 16px;
}
.container .header__nav li {
  display: inline;
  margin-right: 11px;
  margin-left: 11px;
}
.container .header__nav li a {
  color: #000000;
}
.container .header__login {
  font-size: 18px;
  font-weight: bold;
}
.container .header__login-log {
  margin-right: 9px;
  border: 1px solid #000000;
  border-radius: 100px;
  padding: 13px 24px;
  color: #000000;
  transition-duration: 0.3s;
}
.container .header__login-log:hover {
  background-color: black;
  color: white;
}
.container .header__login-help {
  margin-left: 9px;
  border: 1px solid #000000;
  border-radius: 100px;
  padding: 12px 24px;
  color: #000000;
  transition-duration: 0.3s;
}
.container .header__login-help:hover {
  background-color: black;
  color: white;
}
.container .hero {
  display: flex;
  margin-top: 63px;
}
.container .hero__text {
  max-width: 483px;
  font-family: "Roboto";
  margin-top: 27px;
}
.container .hero__text-big {
  font-size: 77px;
  font-weight: bold;
}
.container .hero__text-under {
  font-size: 20px;
  margin-top: 27px;
}
.container .hero__text-little_text {
  margin-top: 79px;
  font-size: 18px;
  font-weight: bold;
}
.container .hero__img {
  position: relative;
}
.container .hero__img img {
  display: block;
  max-width: 100%;
}
@media screen and (max-width: 600px) {
  .container .hero {
    flex-flow: column;
  }
}

.line {
  display: inline-block;
  margin-top: 27px;
  font-family: "Roboto";
  padding: 18px 30px;
  font-size: 22px;
  border: 1px solid black;
  border-radius: 100px;
  background-color: white;
  color: black;
  transition-duration: 0.3s;
}
.line:hover {
  background-color: black;
  color: white;
}

.container .section {
  display: flex;
}
.container .section__img_percent {
  margin-top: 138px;
  margin-right: 104px;
}
.container .section__img_percent img {
  width: 483px;
}
.container .section__text {
  font-family: "Roboto";
}
.container .section__text-big {
  font-weight: bold;
  font-size: 57px;
  color: #000000;
  margin-top: 108px;
}
.container .section__text-little {
  font-size: 20px;
  color: #000000;
  margin-top: 33px;
}
@media screen and (max-width: 600px) {
  .container .section {
    flex-flow: column;
  }
  .container .section__img_percent img {
    width: 100%;
  }
}
.container .offer {
  font-family: "Roboto";
}
.container .offer__text {
  margin-top: 88px;
  font-size: 58px;
}
.container .offer__cards {
  display: flex;
  margin-top: 63px;
}
.container .offer__cards-card {
  width: 308px;
  margin-right: 54px;
  margin-bottom: 54px;
}
.container .offer__cards-card-what_about {
  font-weight: bold;
  font-size: 28px;
  margin-top: 24px;
  margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
  .container .offer__cards {
    flex-flow: column;
  }
}
.container .offer__button {
  background-color: #fdeced;
  font-size: 18px;
  transition-duration: 0.3s;
  padding: 12px 30px;
  color: #000000;
  border-radius: 100px;
  font-weight: bold;
}
.container .offer__button:hover {
  background-color: #f7b2b7;
}

.main {
  background-color: #fdeced;
  margin-top: 126px;
}

.pinktext {
  font-size: 58px;
  padding-top: 88px;
}

.logos {
  display: flex;
  font-family: "Roboto";
}
.logos__leftblock {
  font-size: 27px;
  width: 236px;
  margin-top: 129px;
  margin-right: 99px;
}
.logos__rightblock {
  width: 700px;
  max-width: 100%;
  margin-top: 108px;
}
.logos__rightblock img {
  width: 100%;
}
@media screen and (max-width: 600px) {
  .logos {
    flex-flow: column;
  }
}

.preview {
  display: flex;
  font-family: "Roboto";
  margin-top: 36px;
}
.preview__hub {
  margin-top: 193px;
}
.preview__hub-bold {
  font-weight: bold;
  font-size: 58px;
}
.preview__hub-subtitle {
  font-size: 20px;
  margin-top: 40px;
}
.preview__files {
  margin-top: 107px;
}
.preview__files img {
  max-width: 100%;
}
.preview__button {
  margin-top: 79px;
  font-size: 18px;
  padding: 12px 30px;
  font-weight: bold;
  background-color: #fdeced;
  border-radius: 100px;
  display: inline-block;
  color: #000000;
  transition-duration: 0.3s;
}
.preview__button:hover {
  background-color: #f7b2b7;
}
@media screen and (max-width: 600px) {
  .preview {
    flex-flow: column;
  }
}

.switch {
  display: flex;
  padding: 90px;
  background-color: #8bd4d6;
  border-radius: 10px;
  font-family: "Roboto";
  color: #000000;
  align-items: center;
  justify-content: center;
  margin-top: 108px;
  margin-bottom: 108px;
}
.switch__text-bold {
  font-weight: bold;
  font-size: 46px;
}
.switch__text-subtitle {
  font-size: 20px;
  margin-top: 18px;
}
.switch__button {
  display: inline-block;
  background-color: #000000;
  color: #fff;
  padding: 12px 30px;
  border-radius: 100px;
  transition-duration: 0.3s;
}
.switch__button:hover {
  background-color: #fff;
  color: #000000;
}
@media screen and (max-width: 600px) {
  .switch {
    flex-flow: column;
  }
}