@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

.container {
  width: 1150px;
  margin: 0 auto;
}
.container .header {
  display: flex;
  height: 52px;
  font-family: "Roboto";
  justify-content: space-between;
  align-items: center;
  margin-top: 27px;
  color: #000000;
}
.container .header__nav {
  font-size: 16px;
}
.container .header__nav li {
  display: inline;
  margin-right: 11px;
  margin-left: 11px;
}
.container .header__nav li a {
  color: #000000;
}
.container .header__login {
  font-size: 18px;
  font-weight: bold;
}
.container .header__login-log {
  margin-right: 9px;
  border: 1px solid #000000;
  border-radius: 100px;
  padding: 13px 24px;
  color: #000000;
  transition-duration: 0.3s;
}
.container .header__login-log:hover {
  background-color: black;
  color: white;
}
.container .header__login-help {
  margin-left: 9px;
  border: 1px solid #000000;
  border-radius: 100px;
  padding: 12px 24px;
  color: #000000;
  transition-duration: 0.3s;
}
.container .header__login-help:hover {
  background-color: black;
  color: white;
}
.container .hero {
  height: 485px;
  display: flex;
  margin-top: 63px;
}
.container .hero__text {
  flex: 0 1 483px;
  font-family: "Roboto";
  margin-top: 27px;
}
.container .hero__text-big {
  font-size: 77px;
  font-weight: bold;
}
.container .hero__text-under {
  font-size: 20px;
  margin-top: 27px;
}
.container .hero__text-little_text {
  margin-top: 79px;
  font-size: 18px;
  font-weight: bold;
}
.container .hero__img {
  position: relative;
}
.container .hero__img img {
  position: absolute;
  left: 56px;
}

.line {
  position: relative;
  z-index: 1;
  padding-left: 145px;
}
.line__button {
  font-family: "Roboto";
  padding: 18px 30px;
  font-size: 22px;
  border: 1px solid black;
  border-radius: 100px;
  background-color: white;
  color: black;
  transition-duration: 0.3s;
}
.line__button:hover {
  background-color: black;
  color: white;
}
.line:before, .line:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #eaeef2;
  z-index: -1;
  position: relative;
  vertical-align: middle;
}
.line:before {
  right: 15px;
  margin: 0 0 0 -100%;
}
.line:after {
  left: 15px;
  margin: 0 -100% 0 0;
}